header{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    nav{
        background-color: rgb(255, 52, 52);
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 20vh;
        .profilePhoto{
            border-radius: 100%;
        }
        div{
            display: flex;
            flex-direction: column;
            img{
                margin: 0 auto;
                width: 2rem;
                height: 2rem;
            }
        }
        input,button{
            padding: 0 1rem;
            height: 2.5rem;
        }
        input{
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        button{
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        .pokeLogo{
            margin-top: 1rem;
            width: 70%;
            height: 6rem;
        }
    } 
}
#pagination{
    display: flex;
    gap: 1rem;
    margin: 3rem auto;
    font-size: medium;
    button{
        padding: .5rem 1rem;
        border: 2px solid white;
        &:hover{
            border-color: black;
        }
    }
    p{
        padding: .5rem;
        border-radius:  500px  500px ;
        color: black;
        background-color: white;
    }
}
