.grass{
    color: white;
    background-color: green;
}
.poison{
    background-color: purple;
    color: white;
}
.water{
    background-color: rgb(45, 45, 255);
    color: white;
}
.normal{
    background-color: grey;
}
.fire{
    background-color: orangered;
}
.bug{
    background-color: greenyellow;
}
.flying{
    background-color: cyan;
}
.electric{
    background-color: yellow;
}
.ground{
    background-color: brown;
    color: white;
}
.fairy{
    background-color: pink;
}
.fighting{
    background-color: red;
}
.psychic{
    background-color: rgb(167, 53, 189);
}
.rock{
    background-color: rgb(162, 125, 105);
}
.steel{
    background-color: slategray;
}
.ice{
    background-color: lightblue;
}
.dragon{
    background-color: blue;
}
.ghost{
    background-color: rgb(72, 12, 72);
    color: white;
}
.dark{
    background-color: black;
    color: white;
}